@model CECv3.Models.AcctDetails

@{
    ViewBag.Title = "Details";
}

<h1>Manufacturer Details</h1>

<div>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.AccountType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AcctNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AcctNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortName)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.StoreNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoreNum)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Address1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RedemptionFees)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RedemptionFees)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Approval)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Approval)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACHBankName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACHBankName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACHRouting)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACHRouting)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACHAccount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACHAccount)
        </dd>

    </dl>
</div>

<div class="col-md-offset-1 col-md-12" style="padding-top: 10px;">
    <a href="@Url.Action("Edit", "Manufacturer", new { id = Model.Id })" class="btn btn-warning btn-lg">Edit Manufacturer</a>
</div>

<div class="col-md-offset-1 col-md-12" style="padding-top: 10px; padding-bottom: 25px;">
    <a href="@Url.Action("Index", "Manufacturer")" class="btn btn-info btn-lg">Back to Manufacturer List</a>
</div>
