@model CECv3.Models.Coupons

@{
    ViewBag.Title = "Details";
}

<h2>Coupon Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Coupon Number
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COUP_GS1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COUP_GS1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COUP_GS1)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.COUP_DROPDATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COUP_DROPDATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COUP_ENDDATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COUP_ENDDATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COUP_VALUE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COUP_VALUE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COUP_QTY_FREE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COUP_QTY_FREE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COUP_UPC_FREE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COUP_UPC_FREE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COUP_UPC_ONE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COUP_UPC_ONE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COUP_QTY_ONE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COUP_QTY_ONE)
        </dd>

    </dl>
</div>

<div class="col-md-offset-1 col-md-12" style="padding-top: 10px;">
    <a href="@Url.Action("Edit", "Coupons", new { id = Model.Id })" class="btn btn-warning btn-lg">Edit Coupon</a>
</div>

<div class="col-md-offset-1 col-md-12" style="padding-top: 10px; padding-bottom: 25px;">
    <a href="@Url.Action("Index", "Coupons")" class="btn btn-info btn-lg">Back to Coupon Database</a>
</div>

