@model CECv3.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>Register a New Account</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <p>Fill out all information below</p>
    <hr />

    @Html.ValidationSummary("", new { @class = "text-danger" })

    // ---------------- Enter USERNAME (this is new)
    <div class="form-group">
        <label class="col-md-2 control-label">User Name</label> 
        @*@Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })*@
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        </div>
    </div>

    // ---------------- Enter USER-ROLE (this is new)
    <div class="form-group">
        <label class="col-md-2 control-label">User Role</label> 
        <div class="col-md-10">
            @Html.DropDownList("UserRoles", (SelectList)ViewBag.Name, " ")
        </div>
    </div>


    // ---------------- Enter EMAIL
    <div class="form-group">
        <label class="col-md-2 control-label">E-Mail</label> 
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>

    //  ---------------- Password Info ------------------

    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>

    //--------------------- Submit Button
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Register" class="btn btn-warning btn-lg" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
